In [25]:
import pandas as pd 
import os

In [90]:
path = 'E:\Mini project\Sales-Reporting\data\\'
dataframe = pd.read_csv(path+'sales2019_1.csv')
dataframe.head(30)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"
5,141239,AAA Batteries (4-pack),1,2.99,01/29/19 20:22,"775 Willow St, San Francisco, CA 94016"
6,141240,27in 4K Gaming Monitor,1,389.99,01/26/19 12:16,"979 Park St, Los Angeles, CA 90001"
7,141241,USB-C Charging Cable,1,11.95,01/05/19 12:04,"181 6th St, San Francisco, CA 94016"
8,141242,Bose SoundSport Headphones,1,99.99,01/01/19 10:30,"867 Willow St, Los Angeles, CA 90001"
9,141243,Apple Airpods Headphones,1,150,01/22/19 21:20,"657 Johnson St, San Francisco, CA 94016"
10,141244,Apple Airpods Headphones,1,150,01/07/19 11:29,"492 Walnut St, San Francisco, CA 94016"
11,141245,Macbook Pro Laptop,1,1700,01/31/19 10:12,"322 6th St, San Francisco, CA 94016"
12,141246,AAA Batteries (4-pack),3,2.99,01/09/19 18:57,"618 7th St, Los Angeles, CA 90001"
13,141247,27in FHD Monitor,1,149.99,01/25/19 19:19,"512 Wilson St, San Francisco, CA 94016"
14,141248,Flatscreen TV,1,300,01/03/19 21:54,"363 Spruce St, Austin, TX 73301"
15,141249,27in FHD Monitor,1,149.99,01/05/19 17:20,"440 Cedar St, Portland, OR 97035"
16,141250,Vareebadd Phone,1,400,01/10/19 11:20,"471 Center St, Los Angeles, CA 90001"
17,141251,Apple Airpods Headphones,1,150,01/24/19 08:13,"414 Walnut St, Boston, MA 02215"
18,141252,USB-C Charging Cable,1,11.95,01/30/19 09:28,"220 9th St, Los Angeles, CA 90001"
19,141253,AA Batteries (4-pack),1,3.84,01/17/19 00:09,"385 11th St, Atlanta, GA 30301"
20,141254,AAA Batteries (4-pack),1,2.99,01/08/19 11:51,"238 Sunset St, Seattle, WA 98101"
21,141255,USB-C Charging Cable,1,11.95,01/09/19 20:55,"764 11th St, Los Angeles, CA 90001"
22,141256,Google Phone,1,600,01/29/19 10:40,"675 Washington St, Portland, OR 97035"
23,141257,Apple Airpods Headphones,1,150,01/12/19 18:51,"338 Highland St, San Francisco, CA 94016"
24,141258,AA Batteries (4-pack),1,3.84,01/19/19 21:47,"820 1st St, San Francisco, CA 94016"
25,141259,AAA Batteries (4-pack),2,2.99,01/20/19 17:26,"920 Adams St, San Francisco, CA 94016"
26,141260,AAA Batteries (4-pack),1,2.99,01/01/19 22:00,"293 Hill St, San Francisco, CA 94016"
27,141261,USB-C Charging Cable,1,11.95,01/09/19 18:14,"840 Lincoln St, Atlanta, GA 30301"
28,141262,AAA Batteries (4-pack),1,2.99,01/16/19 12:35,"291 Lincoln St, San Francisco, CA 94016"
29,141263,Bose SoundSport Headphones,1,99.99,01/11/19 23:33,"640 Spruce St, Boston, MA 02215"

In [89]:
frames = []
all_length = []
for file in os.listdir(path):
    if file.endswith('.csv'):
        filepath = path + file 
        df1 = pd.read_csv(filepath)
        frames.append(df1)
        result = pd.concat(frames)
        length_1month = len(df1.index)
        all_length.append(length_1month)
df = result
df.to_csv('TotalSales2019.csv',index = False )

Task 2.2: Add 'Month' column

In [97]:
df['Month'] = df['Order Date'].str[0:2]
df.head(5)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215",01
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035",01
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016",01
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001",01
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301",01

In [117]:
print(set(df['Month']))

{'08', '03', '11', '07', '10', '09', '02', '12', '01', '05', '04', '06'}

Task 2.3: Get rid of 'NaN' and 'Or' value

In [104]:
df.dropna(how='all')

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215",01
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035",01
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016",01
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001",01
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301",01
...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",09
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",09
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",09
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",09
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",09

In [116]:
df = df[df['Month'] != 'Or']
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215",01
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035",01
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016",01
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001",01
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301",01

Task 3: Reporting 
Task 3: what was the best month for sales? how much was earned that month?

In [118]:
df['Sales'] = df['Quantity Orderer'] * df['Price Each']
df.head()

KeyError: 'Quantity Orderer'